/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc

*_defconfig/build/*
*_defconfig/host/
*_defconfig/images/
*_defconfig/legal-info/
*_defconfig/staging
*_defconfig/target/
*_defconfig/mscc_stage2_smb_defconfig.log
*.swp
*.old
*.lock
